@use "./breakpoints.scss" as breakpoints;

.megamenu__sub-nav-content {
  display: none;
  gap: 19px;
  padding-left: 0;
  grid-template-columns: 1fr;
  @include breakpoints.respond-to(phone-up) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoints.respond-to(tablet-up) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.megamenu__sub-nav-content.active {
  display: grid;
}

.megamenu__sub-nav-cell {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}
