// Typography
.main-nav-link {
  font-size: 18px;
  font-weight: 600;
  color: var(--lina-color-white);
}

.body-1 {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff7d;
  margin-top: 0;
  margin-bottom: 0;
}

.body-2 {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff7d;
  margin-top: 0;
  margin-bottom: 0;
}
